* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-size: 16px;
    background: #f2f2f2;
    font-family: Helvetica, Arial, sans-serif;
}

.contenedor {
    width: 100%;
}

.contenedor h1 {
    text-align: center;
    margin: 40px 0px;
}

.contenedor .button {
    text-align: center;
    margin: 20px auto;
    display: block;
    padding: 10px;
    border-radius: 30px;
}

.ttt {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
}

.ttt button {
    width: 100%;
    padding: 25px;
    background: #fff;
    border: 1px solid #000;
    font-size: 40px;
}